</div><!--.content -->
<footer class="site-footer">
 <div class="container">
     <div class="row">
         <div class="col-sm-10">© 2015-2018 CatBlock - Licenced under <a href="//creativecommons.org/licenses/by-sa/4.0/">Creative Commons BY-SA 4.0 International</a>
         </div>
         <div id="social" class="col-sm-2">
             <a id="twitter" href="//twitter.com/CatBlockTeam" class="fa fa-twitter"></a>
             <a id="fb" href="//facebook.com/CatBlockTeam" class="fa fa-facebook-official"></a>
             <a id="github" href="//github.com/CatBlock/" class="fa fa-github"></a>
         </div>
     </div>
 </div>
</footer>
</body>
</html>
