
{% include header.html %}
{% include left-align-posts.html %}
    <div class="post">
      <div class="container">
        <h1><a href="{{page.url}}">{{page.title}}</a></h1>
        <div class="info_top">
					<p>
						<span class="post_categories">
                Posted in <span class="category">{{page.categories | join ", "}}</span>
            </span><!-- .post_categories -->
            <span class="post_author">
                by {{page.author.display_name}}
            </span><!-- .post_author -->
            <span class="post_comments">
              <a href="{{post.url}}#disqus-thread">Comments</a>
            </span>
					</p>
        </div><!-- .info_top -->
        <div class="post_body">
            {{content}}
        </div><!-- .post_body -->
        <div class="info_bottom">
            <span class="post_comments">
							<div id="disqus_thread"></div>
<script>
var disqus_config = function () {
this.page.url = "{{page.url}}";
this.page.identifier = {{page.post_id}};
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//catblockblog.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
            </span><!-- .post_comments -->
        </div><!-- .info-bottom -->
      </div><!-- .container -->
    </div><!-- .post -->
		<script id="dsq-count-scr" src="//catblockblog.disqus.com/count.js" async></script>
{% include footer.html %}
